/*
 * ============================================================
 * CLOCK
 * ============================================================
 */

#clock {
    color: @clock-fg;

    font-weight: bold;

    padding: 0 10px;
    margin: 2px 2px;

    border-radius: 4px;

    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}


#clock:hover {
    background: @hover-bg;
    color: @hover-fg;
}
