/*
 * ============================================================
 * MEDIA
 * ============================================================
 */


/* ------------------------------------------------------------
 * Media group
 * ------------------------------------------------------------ */

#media {
    background: transparent;

    margin: 2px 6px;

    color: @media-fg;
}


/* ------------------------------------------------------------
 * Animation
 * ------------------------------------------------------------ */

#custom-media-animation {
    margin-right: 10px;

    color: @media-animation;
    font-size: 13px;
}


/* ------------------------------------------------------------
 * Now playing
 * ------------------------------------------------------------ */

#custom-media-now-playing {
    margin-right: 10px;
}


/* ------------------------------------------------------------
 * Time
 * ------------------------------------------------------------ */

#custom-media-time {
    color: @media-time;
    font-size: 14px;
}
