[Unit]
Description=Niri Wallpaper Service
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/wallpaper.sh --restore
RemainAfterExit=yes

[Install]
WantedBy=graphical-session.target