
// █▀▄▀█ █ █▀ █▀▀ █▀▀ █░░ █░░ ▄▀█ █▄░█ █▀▀ █▀█ █░█ █▀
// █░▀░█ █ ▄█ █▄▄ ██▄ █▄▄ █▄▄ █▀█ █░▀█ ██▄ █▄█ █▄█ ▄█
// ----------------------------------------------------------------------------
// Behaviors and aesthetics
// ----------------------------------------------------------------------------

// Avoid writing screenshots to disk since they get piped into satty.
screenshot-path null

hotkey-overlay {
    // Avoid auto-showing the important hotkeys menu.
    skip-at-startup
}

gestures {
    // Disable overview when mousing over the top left of primary screen.
    hot-corners {
      // off
    }
}

// Remove window decorations (requires opening and closing each app to change).
prefer-no-csd

layout {
    // Set gaps around windows in logical pixels.
    gaps 14

    focus-ring {
        width 1
    }
}

environment {
    QT_QPA_PLATFORMTHEME "qt5ct"
}
